<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/hfstyles.css.css">
    <link rel="stylesheet" href="/stylesheets/newStyles.css">
    <title>Libros</title>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
       <div class="container">
           <div class="row">
               <section class="col-12">
                    <ul class="route">
                        <li><a href="/">Home</a></li>
                        <li><a href="/category">Categorías</a></li>
                    </ul>
               </section>
               <section class="col-12">
                   <ul class="categories">
                       <li><a href="/category/arte">Arte</a></li>
                       <li><a href="/category/crónica">Crónica</a></li>
                       <li><a href="/category/ensayo">Ensayo</a></li>
                       <li><a href="/category/infantil y juvenil">Infantil y juvenil</a></li>
                       <li><a href="/category/narrativa">Narrativa</a></li>
                       <li><a href="/category/novelas gráficas y cómics">Novelas gráficas y cómics</a></li>
                       <li><a href="/category/poesía">Poesía</a></li>
                   </ul>
               </section>
                <% books.forEach(book => { %>
                    <div class="col-6 col-md-3">
                        <section class="book-container">
                           <figure class="image-container">
                            <a href="/books/<%=book.id%>">
                                <img src="<%= book.image %>" alt="book photo"> 
                            </a>
                           </figure>
                            <h3><a href="/books/<%=book.id%>"><%= book.title %></a></h3>
                            <p>$<%= book.price %></p>                            
                        </section>
                    </div>       
                <% }) %>
           </div>
       </div>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>