<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title><%= category %> </title>
</head>
<body>
    <header> 
        <!-- traer header de partials -->
    </header>
    <main>
        <div class="container">
            <div class="row">
                <section class="col-12">
                    <ul class="route">
                        <li><a href="/">Home</a></li>
                        <li><a href="/books">Libros</a></li>
                        <li><a href="/books/<%=category%>"><%= category %></a></li>
                    </ul>
                </section>
                <% if (category == "arte") { %>
                 <section class="col-12">
                    <ul class="categories">
                        <li><a href="/books/arte/historia del arte">Historia del arte</a></li>
                        <li><a href="/books/arte/música">Música</a></li>
                        <li><a href="/books/arte/cine y video">Cine y video</a></li>
                        <li><a href="/books/arte/fotografía">Fotografía</a></li>
                    </ul>
                 </section>
                <% } else if (category == "infantil y juvenil"){ %>
                    <section class="col-12">
                        <ul class="categories">
                            <li><a href="/books/infantil y juvenil/infantil">Infantil</a></li>
                            <li><a href="/books/infantil y juvenil/juvenil">Juvenil</a></li>
                        </ul>
                    </section>
                <% } else if (category == "narrativa") {%> 
                    <section class="col-12">
                        <ul class="categories">
                            <li><a href="/books/narrativa/novelas">Novelas</a></li>
                            <li><a href="/books/narrativa/clásicos">Clásicos</a></li>
                            <li><a href="/books/narrativa/ciencia ficción">Ciencia ficción</a></li>
                            <li><a href="/books/narrativa/terror">Terror</a></li>
                            <li><a href="/books/narrativa/policiales">Policiales</a></li>
                            <li><a href="/books/narrativa/cuentos - relatos">Cuentos-relatos</a></li>
                        </ul>
                    </section>
                <% } else if (category == "novelas gráficas y cómics"){ %>
                    <section class="col-12">
                        <ul class="categories">
                            <li><a href="/books/novelas gráficas y cómics/cómics">Cómics</a></li>
                            <li><a href="/books/novelas gráficas y cómics/novelas gráficas">Novelas gráficas</a></li>
                        </ul>
                    </section>
                <% } %>
                <% books.forEach(book => { %>
                    <div class="col-6 col-md-3">
                        <section class="book-container">
                           <figure class="image-container">
                            <a href="/books/<%=book.id%>">
                                <img src="<%= book.image %>" alt="book photo"> 
                            </a>
                           </figure>
                           <h3><a href="/books/<%=book.id%>"><%= book.title %></a></h3>
                            <p>$<%= book.price %></p>
                        </section>
                    </div>       
                <% }) %>
            </div>
        </div>
    </main>
    <footer>
        <!-- Requerir footer -->
    </footer>
</body>

</html>