<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/hfstyles.css.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/detail.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <title>Detalle de producto</title>
</head>
<body>
        <header>
        <%- include('partials/header') %> 
        </header>
        <main>
            <div id="body-container" class="container">
                <div class= "row">  
                    <section id="breadCrumbs" class="col-12">
                        <ul class="route">
                            <li><a href="/">Home</a></li>
                            <li><a href="/category">Categorías</a></li>
                            <li><a href="/category/<%=book.category%>"><%= book.category %></a></li>
                            <% if (book.subCategory !=null) { %>
                                <li><a href="/category/<%=book.category%>/<%book.subCategory%>"><%= book.subCategory %> </a></li>
                            <% } %>
                            <li><a href="#"><%= book.title %> </a></li>
                        </ul>            
                    </section>
                    <figure class="col-12 col-md-6">
                        <img class="book-photo" src="<%= book.image%>" alt="">
                    </figure>
                    <div class="col-12 col-md-6">
                        <div class="book-info">
                            <h1><%= book.title %> </h1>
                            <p>Autor: <%= book.autor %>  </p>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="book-price">
                            <h3><%= book.cover %> </h3>
                            <p>AR$ <%= book.price %></p>
                        </div>
                        <div class="book-buy">
                            <label for="quantity" id="quantity">Cantidad</label>
                            <input type="number" name="quantity" value="1" min="1"> 
                            <button type="submit">Agregar al carrito</button>
                        </div>
                    </div>
                    <div id="book-info" class="col-12">
                        <div class="book-info-section">
                            <span class="span-detail">Descripción</span>
                        </div>
                        <p><%= book.description %> </p>
                    </div>
                    <div class="col-12">
                        <div class="book-info-section">
                            <span class="span-detail">Detalle del producto</span>
                        </div> 
                        <table class="book-detail">
                            <tr>
                                <th>Editorial:</th>
                                <td><%= book.publisher %></td>
                            </tr>
                            <tr>
                                <th>Fecha de publicación:</th>
                                <td><%= book.datePublished %> </td>
                            </tr>
                            <tr>
                                <th>Páginas:</th>
                                <td><%= book.pages %></td>
                            </tr>
                            <tr>
                                <th>ISBN:</th>
                                <td><%= book.isbn %></td>
                            </tr>
                        </table> 
                    </div>
                    <div class="col-12">
                        <div class="book-info-section">
                            <span class="span-detail">Categorías recomendadas para vos</span>
                        </div>
                    </div>
                </div>
            
            <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
                <div>
                  <a href="/category/arte">
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Arte</h3>
                        <p>Tremenda Categoría 1</p>
                     </a>
                    </div>
                </div>
                <div>
                  <a href="/category/narrativa">
                    <div class="uk-card uk-card-primary uk-card-body">
                        <h3 class="uk-card-title">Narrativa</h3>
                        <p>Tremenda Categoría 2</p>
                      </a>
                    </div>
                </div>
                <div>
                  <a href="/category/ensayo">
                    <div class="uk-card uk-card-secondary uk-card-body">
                        <h3 class="uk-card-title">Ensayos</h3>
                        <p>Tremenda Categoría 3</p>
                       </a>
                    </div>
                </div>
              </div>
        </main>
        
    <%- include('partials/footer') %>
        

</body>
</html>




