<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title><% book.name %> </title>
</head>
<body>
    <header>
        <!-- import header -->
    </header>
    <main>
        <div class="container">
            <div class="row">
                <section class="col-12">
                    <ul class="route">
                        <li><a href="/">Home</a></li>
                        <li><a href="/books">Libros</a></li>
                        <li><a href="/books/<%= book.category%>"><%= book.category %> </a></li>
                        <% if (book.subCategory != null) { %>
                            <li><a href="/books/<%= book.subCategory%>"><%= book.subCategory %> </a></li>
                        <% } %>
                    </ul>
               </section>
               <h2>Estoy en el detalle de producto <%= book.name %> </h2>
            </div>
        </div>
    </main>
</body>
</html>