<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Detalle de producto'}) %>

<body>

    <%- include('partials/header') %>

    <main>
        <div class="container body-container">
            <div class="row">
                <section class="col-12 breadcrumbs">
                    <ul class="route">
                        <li><a href="/">Home</a></li>
                        <li><a href="/category">Categorías</a></li>
                        <li><a href="/category/<%= categoryUrl %>"><%= book.category.name %></a></li>
                        <% if (book.subCategory) { %>
                        <li><a href="/category/<%= categoryUrl%>/<%= subCategoryUrl%>"><%= book.subCategory.name %></a></li>
                        <% console.log(subCategoryUrl + ' ' + book.subCategory.name) %>
                        <% } %>
                        <li><a href="#"><%= book.title %> </a></li>
                    </ul>
                </section>
                <figure class="col-12 col-md-6 photo-container">
                    <img class="book-photo" src="/images/books/<%=book.image %>" alt="imagen de libro">
                </figure>
                <div class="col-12 col-md-6">
                    <div class="book-info">
                        <h1><%= book.title %> </h1>
                        <p>Autor: <%= book.author %> </p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="book-price">
                        <h3><%= book.cover %> </h3>
                        <p>AR$ <%= book.price %></p>
                    </div>
                    <% if (!locals.user.admin ) { %>
                    <div class="book-buy">
                            <form class="js-buyEvent" action="/users/cart" method="POST">
                                <label for="quantity" id="quantity">Cantidad</label>
                                <input type="number" name="quantity" value="1" min="1">
                                <input type="hidden" name="productId" value=<%= book.id %> >
                            <div class="alert-event">
                                <button  id="js-modal-alert" class="uk-button uk-button-default "type="submit">Agregar al carrito</button>
                               
                            </div>
                            </form>
                       
                    </div>
                    <% } else { %>
                    <div class="book-adm">

                        <a href="/books/edit/<%= book.id %>"><button type="submit">Editar producto</button></a>
                        <form action="/books/delete/<%= book.id %>" method="POST">
                            <button class="elm-button" type="submit">Eliminar</button>
                        </form>

                    </div>
                    <% } %>
                </div>
                <div class="col-12 book-description">
                    <div class="div-span-detail">
                        <span class="span-detail">Descripción</span>
                    </div>
                    <p><%= book.description %> </p>
                </div>
                <div class="col-12">
                    <div class="div-span-detail">
                        <span class="span-detail">Detalle del producto</span>
                    </div>
                    <table class="book-detail">
                        <tr>
                            <th>Editorial:</th>
                            <td><%= book.publisher.name %></td>
                        </tr>
                        <tr>
                            <th>Fecha de publicación:</th>
                            <td><%= book.datePublished %> </td>
                        </tr>
                        <tr>
                            <th>Páginas:</th>
                            <td><%= book.pages %></td>
                        </tr>
                        <tr>
                            <th>ISBN:</th>
                            <td><%= book.isbn %></td>
                        </tr>
                    </table>
                </div>
          
                <div class="div-span-index">
                    <span class="span-index">Categorías Recomendadas </span>
                  </div> 
                  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match col-12" uk-grid>
                    <% categories.forEach(category => { %>
                      <a class="categories-a" href="/category/<%= category.name %>">
                        <div >
                          <div class="uk-card uk-card-hover uk-card-body uk-category-body">
                              <h3 class="uk-card-title uk-categories-title"><%= category.name %> </h3>
                              <p>Descubrí esta categoría</p>
                          </div>
                      </div>
                      </a>
                    <% }) %>
                  </div>
            </div>
        </div>
        <!-- </div> -->
    </main>

    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <script src="/js/alert.js"></script>
    <script src="/js/sweetAlerts.js"></script>
    <script src="/js/categories.js"></script>
</body>

</html>