
<html>
    <%- include('partials/head', {title: 'Ingresar'}) %>
<body>
   
    <%- include('partials/header') %>
 

    <div class="container">
        <div id="flex" class="row space">
            <div class="col-12 col-md-5 col-lg-5">
                <h2>Iniciar sesión</h2>
                <form  class="login"  action="login" method="POST" value="login">
                    <div>
                        <label for="emailLog"></label>
                        <input type="email" id="emailLog" name="emailLog" class="form-input" value="<%= typeof oldLogin == "undefined" ? null : oldLogin.emailLog %>" placeholder="Email">
                        <p class="error"><%= typeof errorsLogin == 'undefined' ? null : errorsLogin.emailLog ? errorsLogin.emailLog.msg : null %></p>
                    </div>
                    <div>
                        <label for="password"></label>
                        <input type="password" id="passwordLog" name="passwordLog" class="form-input" value="" placeholder="Contraseña">
                        <p class="error"><%= typeof errorsLogin == 'undefined' ? null : errorsLogin.passwordLog ? errorsLogin.passwordLog.msg : null %></p>
                    </div>
                    <div>
                        <input type="checkbox" id="remember" name="remember" class="form-check">
                        <label for="remember" class="form-label">Recuérdame</label>
                    </div>
                    <div>
                        <button type="submit">Iniciar sesión</button>  
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-5 col-lg-5">
                <h2>Registrate</h2>
                <form class="register" action="register" method="POST" value="register">
                    <div>
                        <div>
                            <input type="text" id="usernameReg" name="usernameReg" placeholder="Usuario *" class="form-input" value="<%= typeof oldRegister == "undefined" ? null : oldRegister.usernameReg %>">
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.usernameReg ? errorsRegister.usernameReg.msg : null %></p>
                        </div>
                        <div>
                            <input type="text" id="emailReg" name="emailReg" placeholder="Email *" class="form-input" value="<%= typeof oldRegister == "undefined" ? null : oldRegister.emailReg %>">
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.emailReg ? errorsRegister.emailReg.msg : null %></p>
                        </div>
                        <div>
                            <input type="password" id="passwordReg" name="passwordReg" class="form-input" placeholder="Contraseña *">
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.passwordReg ? errorsRegister.passwordReg.msg : null %></p>
                        </div>
                        <div>
                            <input type="password" id="confirmPasswordReg" name="confirmPasswordReg" class="form-input" placeholder="Repita la contraseña: *">
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.confirmPasswordReg ? errorsRegister.confirmPasswordReg.msg : null %></p>
                        </div>
                        <div>
                            <p>(*) Campos obligatorios.</p>
                        </div>
                        <div>
                            <button type="submit">Registrate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
  
  </body>

</html>

