
<html>
    <%- include('partials/head', {title: 'Ingresar'}) %>
<body>
   
    <%- include('partials/header') %>
 

    <div class="container">
        <div id="flex" class="row space">
            <div class="col-12 col-md-5 col-lg-5 form-left">
                <h2>Iniciar sesión</h2>
                <form  class="login formulario-js session-save"  action="login" method="POST" value="login">
                    <div id="emailLog">
                        <label for="emailLog"></label>
                        <input type="email"  name="emailLog" class="form-input log-email" value="<%= typeof oldLogin == "undefined" ? null : oldLogin.emailLog %>" placeholder="Email">
                        <i class="fas fa-check-circle " ></i>
                        <i class="fas fa-exclamation-circle" ></i>
                        <p class="error"><%= typeof errorsLogin == 'undefined' ? null : errorsLogin.emailLog ? errorsLogin.emailLog.msg : null %></p>
                    </div>
                    <div id="passwordLog">
                        <label for="password"></label>
                        <input type="password"  name="passwordLog" class="form-input log-pass" value="" placeholder="Contraseña">
                        <i class="fas fa-check-circle" ></i>
                        <i class="fas fa-exclamation-circle" ></i>
                        <p class="error"><%= typeof errorsLogin == 'undefined' ? null : errorsLogin.passwordLog ? errorsLogin.passwordLog.msg : null %></p>
                    </div>
                    <div>
                        <input type="checkbox" id="remember" name="remember" class="form-check log-repass">
                        <label for="remember" class="form-label">Recuérdame</label>
                    </div>
                    <div>
                        <div class= errores>
                            <ul>
        
                            </ul>
                        </div>
                        <button type="submit">Iniciar sesión</button>  
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-5 col-lg-5 form-right">
                <h2>Registrate</h2>
                <form class="register regformulario-js" action="register" method="POST" value="register" enctype="multipart/form-data">
                    <div>
                        <div>
                            <input type="text" id="userReg" name="userName" placeholder="Usuario *" class="form-input reg-user" value="<%= typeof oldRegister == "undefined" ? null : oldRegister.userName %>">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle "></i>
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.userName ? errorsRegister.userName.msg : null %></p>
                        </div>
                        <div>
                            <input type="text" id="emailReg" name="email" placeholder="Email *" class="form-input reg-email" value="<%= typeof oldRegister == "undefined" ? null : oldRegister.email %>">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.email ? errorsRegister.email.msg : null %></p>
                        </div>
                        <div>
                            <input type="password" id="passwordReg" name="password" class="form-input reg-pass" placeholder="Contraseña *">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.password ? errorsRegister.password.msg : null %></p>
                        </div>
                        <div>
                            <input type="password" id="rePasswordReg" name="confirmPassword" class="form-input reg-repass" placeholder="Repita la contraseña: *">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.confirmPassword ? errorsRegister.confirmPassword.msg : null %></p>
                        </div>
                        <div>
                            <label class="avatar-label" name="image">Imagen de perfil</label>
                            <input type="file" name="image" class="avatar-input reg-img">
                            <p class="error"><%= typeof errorsRegister == 'undefined' ? null : errorsRegister.image ? errorsRegister.image.msg : null %></p>
                        </div>
                        <div>
                            <p>(*) Campos obligatorios.</p>
                        </div>
                        <div>
                            <div class= erroresR>
                                <ul>
            
                                </ul>
                            </div>
                            <button type="submit">Registrate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="/js/register.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/sessionStorage.js"></script>
  </body>

</html>

