<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'subCategory'}) %>
 <body>
    
    <%- include('partials/header') %>
    
    <main>
        <div class="container">
            <div class="row">
                <section class="col-12">
                    <ul class="route">
                        <li><a href="/">Home</a></li>
                        <li><a href="/category">Categorías</a></li>
                        <li><a href="/category/<%=category%>"><%= category %> </a></li>
                        <li><a href="/category/<%=category%>/<%=subCategory%>"><%= subCategory %></a></li>
                    </ul>
                </section>
                <% books.forEach(book => { %>
                    <div class="col-6 col-md-3">
                        <section class="book-container">
                           <figure class="image-container">
                            <a href="/books/<%=book.id%>">
                                <img src="/images/books/<%=book.image %>" alt="book photo"> 
                            </a>
                           </figure>
                            <h3><a href="/books/<%=book.id%>"><%= book.title %></a></h3>
                            <p>$<%= book.price %></p>
                        </section>
                    </div>       
                <% }) %>
            </div>
        </div>
    </main>
    
   
     <%- include('partials/footer') %>
   
</body>

</html>