<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/hfstyles.css.css">
    <title><%= subCategory %> </title>
</head>
<body>
    <header> 
        <%- include('partials/header') %>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <section class="col-12">
                    <ul class="route">
                        <li><a href="/">Home</a></li>
                        <li><a href="/category">Categorías</a></li>
                        <li><a href="/category/<%=category%>"><%= category %> </a></li>
                        <li><a href="/category/<%=category%>/<%=subCategory%>"><%= subCategory %></a></li>
                    </ul>
                </section>
                <% books.forEach(book => { %>
                    <div class="col-6 col-md-3">
                        <section class="book-container">
                           <figure class="image-container">
                            <a href="/books/<%=book.id%>">
                                <img src="<%= book.image %>" alt="book photo"> 
                            </a>
                           </figure>
                            <h3><a href="/books/<%=book.id%>"><%= book.title %></a></h3>
                            <p>$<%= book.price %></p>
                        </section>
                    </div>       
                <% }) %>
            </div>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>